@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", serif;
}
.reg_label {
    position: absolute;
    margin-left: 130px;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top:-20px;
    color: black;
}
.confirm_pass{
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 20px;
    height: 40px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.confirm_pass:hover{
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 2);              
}
.reg_btn {
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: -10px;
    height: 40px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #1d0b26;
    color: white;
}
.reg_btn:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 2);
}
.reg_cb {
    margin-left: 100px;
}
.fname {
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 120px;
    height: 40px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.fname:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 2);
}
.nav-panel {
    display: flex;
    background-color: #1d0b26;
    height: 50px;
    border: medium;
    border-color: black;
}

.gg {
    display: flex;
}

.left {
    align-items: center;
    margin-top: 10px;
    margin-left: 205px;
    padding: 20px;
    border-color: black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    width: 500px;
    height: 1050px;
}

.right {
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    border-color: black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    width: 500px;
    height: 1050px;
}

.right_img {
    height: 300px;
    width: 300px;
    margin-left: 100px;
    margin-top: 70px;
}

.right_text {
    font-family: 'Times New Roman';
    font-size: 1.5rem;
    margin-left: 100px;
    margin-top: 10px;
}

.label {
    margin-left: 170px;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

.user_gmail {
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 120px;
    height: 40px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

    .user_gmail:hover {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 2);
    }

.user_pass:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 2);
}

.login_btn:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 2);
}

.user_pass {
    border-radius: 10px;
    margin-left: 120px;
    height: 40px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.login_btn {
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 10px;
    height: 40px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    margin-left: 100px;
    height: 50px;
    width: 250px;
}

.login_img {
    height: 450px;
    width: 500px;
    border-radius: 30px;
}

.news {
    color: white;
    margin-left: 700px;
    border: none;
    width: 90px;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
}

.about_us {
    color: white;
    margin-left: 10px;
    width: 110px;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    border: none;
}

.investing {
    color: white;
    margin-left: 10px;
    width: 130px;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    border: none;
}

.claim {
    color: white;
    margin-left: 10px;
    border: none;
    width: 90px;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
}

.claim:hover {
        background-color: #39164b;
        color: white;
        border-color: white;
        margin-bottom: 1px;
        transition-duration: 0.3s;
        font-size: 1.1rem;
        box-shadow: 2px 2px 10px rgba(255,255,255, 0.5);
    }

.news:hover {
    background-color: #39164b;
    color: white;
    border-color: white;
    margin-bottom: 1px;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(255,255,255, 0.5);
    font-size: 1.1rem;
}

.investing:hover {
    background-color: #39164b;
    color: white;
    border-color: white;
    margin-bottom: 1px;
    transition-duration: 0.3s;
    font-size: 1.1rem;
    box-shadow: 2px 2px 10px rgba(255,255,255, 0.5);
}

.about_us:hover {
    background-color: #39164b;
    color: white;
    border-color: white;
    margin-bottom: 1px;
    transition-duration: 0.3s;
    font-size: 1.1rem;
    box-shadow: 2px 2px 10px rgba(255,255,255, 0.5);
}

.checkbox-container {
    margin-top: 20px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.cb {
    margin-left: 100px;
}

.checkbox-container a {
    text-decoration: none;
    color: #6a1b9a;
}

.right_panel {
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top: 10px;
}

.tip {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}

.terms {
    position: absolute;
    font-size: 1rem;
    margin-top: 60px;
    margin-left: 25px;
}

.terms2 {
    position: absolute;
    font-size: 1rem;
    margin-top: 60px;
    margin-left: 305px;
}

.logo2 {
    position: absolute;
    margin-top: 180px;
    margin-left: 100px;
    height: 85px;
}

.age_tb {
    border-radius: 10px;
    margin-left: 120px;
    height: 40px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.lastname_tb {
    border-radius: 10px;
    margin-left: 120px;
    margin-top:15px;
    height: 40px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.contact_tb {
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 15px;
    height: 40px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.contact_tb:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 2);
}
.age_tb:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 2);
}
.lastname_tb:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 2);
}